@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'Colors.scss';


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

}

body{
    background-color: $primary;
    color: $tertiary;
}