@import "Colors.scss";

.productCard {
    width: 200px;
    margin: 2rem;
    border-radius: 5px;
    background-color: $tertiary;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;

    > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    > h4{
        margin: 1rem;
        color: $primarydark;
    }

    > button{
        cursor: pointer;
        background-color: $secondary;
        border: none;
        padding: 1rem;
        border-radius: 5px;
        color: $tertiary;
        transition: all 0.5s;
        font: 800 1rem "Roboto";
    }
}
